<div class="categories-tree">
    <div class="panel panel-default">
        <div class="panel-heading">
            <button class="btn btn-default pull-right"  ng-init="listCollapsed = true" ng-click="listCollapsed = !listCollapsed">
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <h3>Categories</h3>
        </div>

        <!-- List group -->
        <div cg-busy="myPromise">
            <ul class="collapse"  collapse="listCollapsed">
                <li ng-repeat="category in categories">
                    <a href="/#!/categories/{{ category.slug }}">
                        <i class="fa fa-folder-open"></i> {{ category.name }} <span class="badge">{{ category.post_count }}</span>
                    </a>
                    <ul ng-if="category.children">
                        <li ng-repeat="child in category.children">
                            <a href="/#!/categories/{{ child.slug }}">
                                <i class="fa fa-folder"></i> {{ child.name }} <span class="badge">{{ child.post_count }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>