<div class="post-date">
    <i class="fa fa-calendar-o"></i> {{ post.date }}, 
    <i class="fa fa-clock-o"></i> {{ post.time }}
</div>
<h2 class="post-title">{{ post.title }}</h2>
<div class="post-terms">
    <ul class="pull-left">
        <li ng-repeat="category in post.categories">
            <a href="/#!/categories/{{ category.slug }}">
                <i class="fa fa-folder-o"></i> {{ category.name }}
            </a> 
        </li>
    </ul>
    <ul class="pull-left">
        <li ng-repeat="tag in post.tags">
            <a href="/#!/tags/{{ tag.slug }}">
                <i class="fa fa-tag"></i> {{ tag.name }}
            </a>
        </li>
    </ul>
</div>
<div class="clearfix"></div>
<hr>

<div class="post-body" ng-bind-html="post.content"></div>

<div class="post-separator">
    <div class="dots">
        <small><i class="fa fa-gear"></i></small>
        <i class="fa fa-gear"></i>
        <small><i class="fa fa-gear"></i></small>
    </div>
</div>

<h2>Readers Opinion</h2>

<dir-disqus disqus-shortname="cahsowan"
    disqus-identifier="{{ post.id }}"
    disqus-url="{{ post.url }}"
    ready-to-bind="{{ contentLoaded }}">
</dir-disqus>

