doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    title= title
    link(href="/assets/css/bootstrap.min.css", rel="stylesheet")
    link(href="/assets/css/font-awesome.css", rel="stylesheet", type="text/css")
    link(href="/assets/css/grayscale.css" rel="stylesheet" )
  body
    // Navigation
    != partial("../partials/_navbar")

    .container
      div.upper-blank
        h1 Blog <small>ikatlah ilmu dengan menulisnya</small>
        hr
          
      .row
        .col-md-8.col-md-offset-2
          != yield
          
          if current.path[0] == "blog"
            != partial("_comments")
  
    //- Footer
    footer
      .container.text-center
        p Copyright &#169; cahsowan.github.io 2014
    
    //- jQuery Version 1.11.0
    script(src="/assets/js/jquery-1.11.2.min.js")
    script(src="/assets/js/list.js")
    script(src="/assets/js/list.pagination.js")
    //- Custom Theme JavaScript
    script(src="/assets/js/app.js")
    script.
      var monkeyList = new List('articles', {
        valueNames: ['article-title'],
        page: 5,
        plugins: [ ListPagination({}) ] 
      });
    
    // google analytics
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55655179-1', 'auto');
      ga('send', 'pageview');
