body {
    font-family: "Raleway", sans-serif;
    line-height: 1.8em;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

.header {
    padding: 15px 0;
    background: #f8f8f8;
}

.navigation nav.navbar {
    margin-bottom: 0;
}

.featured {
    margin: 45px 0;
}

.categories h2 {
    margin-bottom: 40px;
}

.bottom {
    margin: 20px 0 0;
    padding: 35px 0 50px;
    background: #333;
    color: #eaeaea;
}

.bottom h3 {
    color: orange;
    margin-bottom: 15px;
}

footer.footer {
    padding: 25px 0 15px;
    background: #ebebeb;
}

ul.fa-ul > li i {
    margin-right: 10px;
}

.empty-space {
    height: 50px;
}